:root {
    --primary:#262626;
    --secondary:#4D4D4D;
    --dark:#1E1E1E;
    --light:#f0ffff;
    --gardient: linear-gradient(90deg, #3C3C3C 0%, #444444 51.04%, #333333 100%);
    --font:'Lato', sans-serif;
    --radius:12px;
    --transition: all 0.5s ease-in-out;
}